root = true

[*]
indent_size = tab
insert_final_newline = false
tab_width = 2
max_line_length = 140

ij_any_method_brace_style = next_line_if_wrapped
ij_any_block_brace_style = next_line_if_wrapped
ij_any_align_consecutive_assignments = true
ij_any_spaces_around_equality_operators = true

[{*.tf,*.tfvars}]
ij_hcl-terraform_array_wrapping = 1
ij_hcl-terraform_property_alignment = 1
ij_hcl-terraform_object_wrapping = 1
